<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="icon" href="/static/img/man2.png" type="image/x-icon">
    <title>MAM</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light px-2">
        <div class="container-fluid">
            <img src="/static/img/man2.png" alt="Bootstrap" width="50" height="44">

        </div>
        <div class="collapse navbar-collapse m-2" id="navbarSupportedContent">

        </div>

    </nav>
    <div class="container">
        <div class="row d-flex justify-content-center">
            {% for card in palets if card.3 != "none" %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">


                            <h5 class="card-title">{{ card.0 }}</h5>
                            <h5 class="card-subtitle mb-2 text-muted h6">Entregado: 0 / {{ card.2}}</h5>
                        </div>
                        <p class="card-text">Contacto : {{ card.1 }}</p>
                    </div>



                </div>
            </div>
            {% endfor %}
        </div>
        <div class="navbar fixed-bottom">
            <div class="container d-flex justify-content-center">
                <form action="/logout" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm">Cerrar sesion</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>