{% extends "base.html" %}

{% block content %}
<main class="d-flex px-2 py-4 vh-100 vw-100 rounded-top-5 bg-light">
    <div class="container-fluid px-2">
        <div class="container d-flex justify-content-between align-content-center">
            <div>
                <h4 class="text-dark m-2">Conductor:</h>
            </div>
            <div class="card rounded-5 d-flex justify-content-center align-items-center bg-user shadow mb-4 m-2 w-75 ">
                <h5 class="text-dark m-auto">{{user}}</h5>
            </div>

        </div>

        <div class="row row-cols-1 gap-3">
            <a href="/recoger" style="text-decoration: none;">
                <div class="col card d-flex justify-content-center align-items-center shadow  rounded-4">
                    <img src="/static/img/loading-palets.png" class="card-img-top w-50" alt="recogidas">
                    <p>Recogidas</p>
                </div>
            </a>
            <a href="/entregar" style="text-decoration: none;">
                <div class="col card d-flex justify-content-center align-items-center shadow  rounded-4">
                    <img src="/static/img/carga_palets.png" class="card-img-top w-50" alt="entregas">
                    <p>Entregas</p>
                </div>
            </a>

        </div>
    </div>
</main>

{% endblock %}