{% extends "base.html" %}
{% block content %}
<main class="d-flex flex-column justify-content-center align-items-center px-2 vh-100 vw-100 rounded-top-5 bg-light">
    <div class="container p-3 rounded-top-5  vh-100 overflow-scroll">
        <form class="mb-2" action="/entrega_completa/{{albaran}}" method="POST">
            <div class="card mb-4 shadow">
                <div class="card-header">
                    <div class="row">
                        <div
                            class="col-2 p-1 bg-body-secondary rounded d-flex justify-content-center align-items-center">
                            <img src="/static/img/form.png" alt="check" style="width: 30px;">
                        </div>
                        <div class="col-10">
                            <h6 class="fs-6 fw-semibold">Formulario entrega</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-start">
                        <div class="mb-2 w-100">
                            <label for="name" class="form-label ">Nombre</label>
                            <input name="name" type="text" class="form-control bg-white" id="name"
                                placeholder="ingrese un nombre" aria-label="default input example">
                        </div>
                        <div class="w-100">
                            <label for="dni" class="form-label">DNI</label>
                            <input name="dni" type="text" class="form-control bg-white" placeholder="DNI"
                                aria-label="default input example">
                        </div>

                    </div>
                </div>
            </div>
            <div class="card mb-4 shadow">
                <div class="card-header">
                    <div class="row">
                        <div
                            class="col-2 p-1 bg-body-secondary rounded d-flex justify-content-center align-items-center">
                            <img src="/static/img/notes.png" alt="check" style="width: 30px;">
                        </div>
                        <div class="col-10">
                            <h6 class="fs-6 fw-semibold">Notas</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-start">
                        <div class="mb-2 w-100">
                            <textarea class="form-control bg-white" placeholder="Agregar notas" name="notas"
                                id="floatingTextarea"></textarea>

                        </div>


                    </div>
                </div>
            </div>
        </form>
        <div class="card mb-4 shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-2 p-1 bg-body-secondary rounded d-flex justify-content-center align-items-center">
                        <img src="/static/img/images.png" alt="gps" style="width: 30px;">
                    </div>
                    <div class="col-10">

                        <h6 class="fs-6 fw-semibold">Adjuntar Imagenes</h6>
                        <a href="/entrega/cam/{{empleado}}/{{albaran}}" class="text-decoration-none">
                            <button id="start-camera" class="btn btn-outline-primary  w-100"><img
                                    src="/static/img/camera.png" alt="camera" style="width: 40px;"></button>
                            <button id="capture-photo" disabled class="btn btn-success w-100">Capturar
                                foto</button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="card-body">
                <div class="d-flex flex-column justify-content-start">

                    <div>
                        <video id="camera-stream" autoplay class="h-100 w-100 mt-3" style="display: none;"></video>
                        <canvas id="photo" width="60" height="40" style="display: none;"></canvas>
                    </div>
                    <div class="d-grid gap-2 d-lg-inline-block d-flex flex-row mt-2">
                        <button id="start-camera" class="btn btn-outline-primary  w-100"><img
                                src="/static/img/camera.png" alt="camera" style="width: 40px;"></button>
                        <button id="capture-photo" disabled class="btn btn-success w-100">Capturar
                            foto</button>
                    </div>
                    <div id="imageSlider" class="mb-2 w-100">
                        <!-- Imágenes tomadas con la cámara web se agregarán aquí -->
            <!-- <div id="photo-list" class="d-block w-100"></div> -->
        </div>
    </div>
    </div> -->
    </div>
    <button type="submit" class="btn btn-success w-100">Entregar</button>
    <a href="/entregar">
        <button class="btn btn-danger w-100 mt-4">Cancelar</button>
    </a>

    </div>
</main>






<script>
    const video = document.getElementById('camera-stream');
    const canvas = document.getElementById('photo');

    const startCameraButton = document.getElementById('start-camera');
    const capturePhotoButton = document.getElementById('capture-photo');

    const photoList = document.getElementById('photo-list');

    capturePhotoButton.style.display = 'none'



    startCameraButton.addEventListener('click', function () {
        video.style.display = 'block';

        navigator.mediaDevices.getUserMedia({
            video: { facingMode: 'environment' }
        })
            .then(function (stream) {
                video.srcObject = stream;
                capturePhotoButton.disabled = false;
                startCameraButton.style.display = 'none'
                capturePhotoButton.style.display = 'block'
            })
            .catch(function (error) {
                console.error('Error accessing media devices.', error);
            });
    });

    capturePhotoButton.addEventListener('click', function () {
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        const imgData = canvas.toDataURL('image/png');
        const imgContainer = document.createElement('div');
        imgContainer.classList.add('image-container');
        const img = document.createElement('img');
        img.src = imgData;
        const deleteButton = document.createElement('button');
        deleteButton.classList.add('delete-button');
        deleteButton.textContent = 'X';
        deleteButton.addEventListener('click', function () {
            photoList.removeChild(imgContainer);
        });
        imgContainer.appendChild(img);
        imgContainer.appendChild(deleteButton);
        photoList.appendChild(imgContainer);
        //que no desaparezca la camara mejoraria la usabilidad quizas
        //video.srcObject.getTracks().forEach(track => track.stop());
        //video.srcObject = null;


    });


</script>
{% endblock %}