{% extends "base_empresa.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- <div class="col mt-3" id="col">
      <h1 class="d-flex justify-content-center">PaletsWays</h1>
      <div class="table-responsive">
        <table class="table table-responsive-sm">
          <thead class="bg-light">
            <tr>
              <th>Albaran</th>
              <th>Contacto</th>
              <th>Direccion</th>
              <th>Fecha</th>
              <th>Palets</th>
              <th>Peso</th>
            </tr>
          </thead>
          <form action="/assign_palets" method="POST">
            <tbody id="palets">
              {% for row in data if row.10 != "mam" %}
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" onclick="toggleForm()" name="selected_palets"
                      value="{{ row.0 }}" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      {{ row.1 }}
                    </label>
                  </div>
                </td>
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
                <td>{{ row.4 }}</td>
                <td>{{ row.5 }}</td>
                <td>{{ row.6 }}</td>
              </tr>
              {% endfor %}
            </tbody>
            <div class="navbar fixed-bottom bg-light" id="repartidorForm" style="display:none;">
              <div class="container d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success m-2">Confirmar</button>
                  <button type="button" class="btn btn-danger m-2">Eliminar</button>
                </div>
              </div>
            </div>
          </form>
        </table>
      </div>
    </div> -->
    <div class="col mt-3" id="col">
      <h1 class="d-flex justify-content-center">MRMS</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="bg-light">
            <tr>
              <th>Albaran</th>
              <th>Contacto</th>
              <th>Direccion</th>
              <th>Fecha</th>
              <th>palets</th>
              <th>Peso</th>
            </tr>
          </thead>
          <tbody>
            {% for row in data if row.15 == "mrms" %}
            <tr>
              <td>{{ row.1 }}</td>
              <td>{{ row.2 }}</td>
              <td>{{ row.3 }}</td>
              <td>{{ row.4 }}</td>
              <td>{{ row.5 }}</td>
              <td>{{ row.6 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--Modal-->

<div class="modal" tabindex="-1" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir Palet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="/add_palet" method="POST">
          <label for="id" class="form-label">Identificador</label>
          <input name="id" class="form-control" type="text" placeholder="000-000" aria-label="default input example">

          <label for="contacto" class="form-label">Contacto</label>
          <input name="contacto" class="form-control" type="text" placeholder="654435132"
            aria-label="default input example">

          <label for="direccion" class="form-label">Direccion</label>
          <input name="direccion" class="form-control" type="text" placeholder="calle San Isidro 27"
            aria-label="default input example">

          <label for="fecha_entrega" class="form-label">Fecha de entrega</label>
          <input name="fecha_entrega" class="form-control" type="date" aria-label="default input example">

          <label for="palets" class="form-label">Nº Palets</label>
          <input name="palets" class="form-control" value="1" type="number" aria-label="default input example">
          <label for="tipo_palet" class="form-label">Seleccionar zona</label>
          <select name="zona" class="form-select" aria-label="Default select example">
            <option value="1">Zona 1</option>
            <option value="2">Zona 2</option>
            <option value="3">Zona 3</option>

          </select>
          <label for="peso" class="form-label">Peso</label>
          <input name="peso" class="form-control" type="number" placeholder="500" aria-label="default input example">

          <label for="tipo_palet" class="form-label">Seleccionar tipo de palet</label>
          <select name="tipo_palet" class="form-select" aria-label="Default select example">
            <option value="1">Mini</option>
            <option value="2">Americano</option>
            <option value="3">Europeo</option>
            <option value="4">Especial</option>
          </select>



          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Añadir Nota</label>
            <textarea name="nota" class="form-control" id="exampleFormControlTextarea1" rows="3"
              placeholder="Algo Aqui..."></textarea>
          </div>

          <div class="form-check mt-2">
            <input name="despaletizado" class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Despaletizado
            </label>
          </div>
          <div class=" mt-2">
            <label for="action" class="form-label">Seleccionar accion</label>
            <select name="servicio" class="form-select" aria-label="Default select example" required>
              <option value="entrega">Entrega</option>
              <option value="recogida">Recogida</option>
            </select>
            <label for="direccion" class="form-label mt-2">Direccion recogida</label>
            <input name="dir_recogida" class="form-control" type="text" placeholder="calle San Isidro 27"
              aria-label="default input example">
            <label for="contacto_recogida" class="form-label mt-2">Contacto recogida</label>
            <input name="contacto_recogida" class="form-control" type="text" placeholder="654435132"
              aria-label="default input example">
          </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Añadir</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function toggleForm() {
    var checkboxChecked = document.querySelector('input[type="checkbox"]:checked');
    var repartidorForm = document.getElementById('repartidorForm');

    if (checkboxChecked) {
      repartidorForm.style.display = 'block';
    } else {
      repartidorForm.style.display = 'none';
    }
  }
</script>

<script>
  function filterTable() {
    var input, filter, tables, tr, td, i, j, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();

    tables = document.querySelectorAll('#col');

    for (j = 0; j < tables.length; j++) {
      tables[j].style.display = "none"; // Hide all tables
      tr = tables[j].getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.trim().toUpperCase() === filter.trim()) {  // Match exact identifier
            tables[j].style.display = ""; // Show table
            tr[i].style.display = ""; // Show matching row
          } else {
            tr[i].style.display = "none"; // Hide non-matching row
          }
        }
      }
    }
  }
</script>



{% endblock %}
