* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.error_container {
  width: 100%;
  height: 100vh;
}
.cuadrado {
  width: 60px;
  height: 60px;
  background: linear-gradient(to bottom right, #00ff00, #008000);
  border-radius: 10px;
  box-shadow: 2px 29px 28px -15px rgba(0, 0, 0, 0.6);
}
.input-group-append {
  cursor: pointer;
}

.hero {
  position: relative;
  z-index: 2;
}
.invert-icon {
  filter: invert(100%);
}
#hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frase {
  text-shadow: 1px 6px 8px rgba(0, 0, 0, 0.55);
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-sm-bg {
  display: none;
}

.video-lg-bg {
  display: flex;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

.footer-bg {
  background: rgb(121, 3, 208);
  background: linear-gradient(
    120deg,
    rgba(121, 3, 208, 1) 43%,
    rgba(10, 4, 153, 1) 100%
  );
}
@media only screen and (max-width: 768px) {
  .video-sm-bg {
    display: flex;
  }

  .video-lg-bg {
    display: none;
  }
}
