* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.error_container {
  width: 100%;
  height: 100vh;
}
.cuadrado {
  width: 60px;
  height: 60px;
  background: linear-gradient(to bottom right, #00ff00, #008000);
  border-radius: 10px;
  box-shadow: 2px 29px 28px -15px rgba(0, 0, 0, 0.6);
}
.input-group-append {
  cursor: pointer;
}

.hero {
  background-image: url("/static/img/road-truck-logo.webp");
  background-size: cover;
  height: 90vh;
}

.footer-bg {
  background: rgb(121, 3, 208);
  background: linear-gradient(
    120deg,
    rgba(121, 3, 208, 1) 43%,
    rgba(10, 4, 153, 1) 100%
  );
}
@media only screen and (max-width: 768px) {
  .hero {
    background-image: url("/static/img/road-truck-mobile.webp");
  }
}
