.input-group-append {
  cursor: pointer;
}

.hero {
  background-image: url("/static/img/road-truck-logo.png");
  background-size: cover;
  height: 90vh;
}

@media only screen and (max-width: 768px) {
  .hero {
    background-image: url("/static/img/road-truck-mobile.png");
  }
}
