* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.body-bg {
  background: rgb(121, 3, 208);
  background: linear-gradient(
    120deg,
    rgba(121, 3, 208, 1) 35%,
    rgba(7, 3, 121, 1) 91%
  );
  height: 100vh;
}
nav {
  min-height: 150px;
}
.center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  vertical-align: middle;
}

.error_container {
  width: 100%;
  height: 100vh;
}
.cuadrado {
  width: 60px;
  height: 60px;
  background: linear-gradient(to bottom right, #00ff00, #008000);
  border-radius: 10px;
  box-shadow: 2px 29px 28px -15px rgba(0, 0, 0, 0.6);
}
.input-group-append {
  cursor: pointer;
}

.hero {
  position: relative;
  z-index: 2;
}
.invert-icon {
  filter: invert(100%);
}
#hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  /* justify-content: center; 
  align-items: center;*/
}
.frase {
  text-shadow: 1px 6px 8px rgba(0, 0, 0, 0.55);
  font-weight: 900;
  font-family: "Inter";
  font-size: 3rem;
}

.sub-frase {
  text-shadow: 1px 6px 8px rgba(0, 0, 0, 0.55);
  font-family: "Licorice", cursive;
  font-weight: 200;
  font-style: normal;
}
.curved-text {
  width: 100%; /* Ancho del contenedor */
  height: 150px; /* Alto del contenedor */
  background-color: lightblue;
  padding: 20px;
  -webkit-shape-outside: circle(50%);
  shape-outside: circle(50%);
  -webkit-clip-path: circle(50%);
  clip-path: circle(50%);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-sm-bg {
  display: none;
}

.video-lg-bg {
  display: flex;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

.footer-bg {
  background: rgb(121, 3, 208);
  background: linear-gradient(
    120deg,
    rgba(121, 3, 208, 1) 43%,
    rgba(10, 4, 153, 1) 100%
  );
}

.animate_text {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.titles {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.descript {
  color: #324a6d;
}

.image-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.delete-button {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
}

#imageSlider {
  width: 80%;
  overflow-x: scroll;
  white-space: nowrap;
}

.bg-user {
  background-color: lightblue;
  border: 1px solid black;
}

@media only screen and (max-width: 768px) {
  .video-sm-bg {
    display: flex;
  }

  .video-lg-bg {
    display: none;
  }
  .frase {
    font-size: 1.8rem;
  }
  .sub-frase {
    font-size: 1.8rem;
  }
}
